body{
    font-family: 'PT Sans', sans-serif;
    background: #F5F5F5;
    width: 1920px;
}

.main-menu{
    background: #202846;
    height: 90px;
    width: 1920px; 
    position: fixed;  
    top: 0;  
    z-index: 100;  
}

a{
    color: #FFFFFF;
    text-decoration: none;
    
}

.list_nav{
    font-weight: 700;
    font-size: 24px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -19px;
}

.navigation_name{
    margin-top: 24px;
    margin-left: 10px;
}

.navigation_name_img{
    margin-top: 5px;
}

.room_nav{
    width: 170px;
    height: 57px;
    text-align: center;
}

#account, #contacts, #booking{
    width: 1920px;
    height: 140px;
    background: #C6C6DC;
    font-style: italic;
    font-size: 48px; 
    color: #202846;  
    box-sizing: border-box;
    padding-left: 227px;
    padding-top: 39px;
}

.title_choice{
    width: 1489px;
    height: 73px;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    color: rgba(0, 0, 0, 0.61);
    background: #E8E8E8;
    margin: 0 auto;
    padding-top: 18px;
    box-sizing: border-box;
}

.img_polygon{
    position: relative;
    left: 536px;
    top: 15%;
}

.item{
    display: flex;
    justify-content: center;
    width: 1489px;
    height: 300px;
    background: #BDBDC6;
    margin: 0 auto;
}

.image_item{
    width: 485px;
    height: 244px;
    margin-left: 103px;
    margin-top: 28px;
}

.title_item{
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    margin-left: 100px;
    box-sizing: border-box;
    border-bottom: 3px solid #FFFFFF;
}

.descr_item{
    width: 712px;
    height: 184px;
    background: #D7D7DD;
    text-align: center;
    margin-left: 102px;
    font-weight: 400;
    font-size: 22px;
    position: relative;
    top: -75px;
    padding: 23px;
    box-sizing: border-box;
}

.item:hover{
    background: #AEAEE2;
    box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
}

svg{
    position: relative;
    left: 81px;
    top: 17px;
}

path:hover{
   fill:  #FFFF00;
}

.btn_item{
    width: 200px;
    height: 60px;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    background: #202846;
    border-radius: 30px;
    cursor: pointer; 
    position: relative;
    top: 176px;
    left: 0px; 
}

.btn_item:hover{
    background: #EF075B;
}

.account_cards{
    display: flex;
    justify-content: space-around;
    background: #BDBDC6;
    width: 1318px;
    height: 498px;
    margin: 0 auto;
}

.account_img{
    width: 196px;
    height: 184px;
    position: relative;
    top: 60px;
    left: 128px;
}

.btn_change_avatar{
    width: 250px;
    height: 50px;
    font-style: normal;
    font-size: 24px;
    color: #FFFFFF;
    background: #69749B;
    border-radius: 50px;
    border: none;
    position: relative;
    top: 81px;
    left: 96px;
    cursor: pointer;
}

.btn_settings{
    width: 250px;
    height: 50px;
    font-style: normal;
    font-size: 24px;
    size: 24px;
    color: #FFFFFF;
    background: #484A54;
    border-radius: 50px;
    border: none;
    position: relative;
    top: 97px;
    left: 96px;
    cursor: pointer;
}

.account_info{
    height: 412px;
    position: relative;
    top: 46px;
    bottom: 44px;
}

.account_name, .account_sex, .account_birthday, .account_tel{
    font-style: italic;
    font-size: 36px;
    color: #353C57;
    border-bottom: 3px solid #FFFFFF;
    width: 712px;
    margin: 19px auto;
}

.account_mail{
    font-style: italic;
    font-size: 36px;
    color: #353C57;
    width: 712px;
    margin: 19px auto;
}

.span_account{
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    color: #353C57;
}

.btn_escape{
    width: 212px;
    height: 62px;
    font-style: normal;
    font-size: 27px;
    color: #FFFFFF;
    border-radius: 50px;  
    background: #202846;  
    margin: 0 auto;  
    position: relative;
    left: 45%;
    cursor: pointer;
}

.contact_1, .contact_2{
    display: flex;
    justify-content: space-evenly;
}

.tel_title, .timetable_title, .email_title, .address_title{
    color: #000000;
    font-style: normal;
    font-size: 32px;
    border-bottom: 3px solid #202846;

}

.tel_number, .timetable, .email, .address{
    color: #000000;
    font-style: normal;
    font-size: 30px;
}

footer{
    width:  1920px;
    height: 90px;
    background: #202846;
    color: #EEECF1;
    font-style: italic;
    font-size: 36px;
    padding-top: 20px;
    padding-left: 160px;
    box-sizing: border-box;
}
