body{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    background: #212529;
    width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    margin-right: 48px;
    margin-top: 17px;
    margin-left: 50px;
}

.menu{
    display: flex;
    list-style: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.item_menu{
    margin-right: 50px;  
    cursor: pointer; 
}

.item_menu:hover{
    color: #FFB742;
}

.btn_hire_me{
    width: 121px;
    height: 54px;
    background: #FFB742;
    border: 2px solid #FFB742;
    border-radius: 50px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

.who_i_am_1, .who_i_am_2{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
    text-transform: capitalize;
    text-align: center;
    margin-top: 108px;
}

.who_i_am_2:hover{
    color: #FFB742;
}

h1{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
    text-transform: capitalize;
    text-align: center;
}

.descr_who_i_am{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
}

.img_who_i_am{
   text-align: center;
}

.cards{
    display: flex;
    justify-content: space-around;
    margin-top: 140px;
    margin-bottom: 140px;
}

.card_1, .card_2, .card_3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    filter: drop-shadow(10px 10px 51px rgba(0, 0, 0, 0.25));
    width: 416px;
    height: 120px;
    background:  #292B2E;
}

.card_1:hover, .card_2:hover, .card_3:hover{
    background-color: #FFB742;
}

.card_number{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    color: #FFB742;
    text-transform: capitalize;
    text-align: center;
    margin: 0 auto;

}

.card_descr{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: center;
}

.card_1:hover .card_number, .card_1:hover .card_descr, .card_2:hover .card_number, .card_2:hover .card_descr, .card_3:hover .card_number, .card_3:hover .card_descr{
    color: #000000;  
}

.card_1:hover path, .card_2:hover path, .card_3:hover path{
    fill:  #000000;
}

.about_me{
    display: flex;
    justify-content: space-around;
}

.about_me_title1{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    color: #FFB742;
    width: 148px;
    height: 42px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    text-align: center;
    padding-top: 6px;
    box-sizing: border-box;
}

.about_me_title2{
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
}

.about_me_descr{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    color: #D5D5D5;
    width: 680px;
    height: 180px;
}

.my_work_title1{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    color: #FFB742;
    width: 148px;
    height: 42px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    text-align: center;
    padding-top: 6px;
    box-sizing: border-box;
    margin: 65px auto;
    margin-bottom: 0;
}

.my_work_title2{
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
}

.menu_about_me{
    display: flex;
    justify-content: center;
    list-style: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    color: #FFFFFF;
    }

.list_of_cards1{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 30px;
}   

.list_of_cards2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 120px;
}

.item_card{
    width: 390px;
}

footer{
    display: flex;
    justify-content: space-around;
    height: 470px;
    background: #1C1C1C;
    padding-top: 150px;
}

.footer_name{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 32px;
    color: #FFB742;
    margin-top: 10px;
}

.footer_descr{
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 16px;
    color: #D4D4D4;
    width: 250px;
}

.footer_links{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 22px;
    color: #F5FBF2;
}
.footer_menu{
    list-style: none;
    padding-left: 0;
}

.footer_item{
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 18px;
    color: #7B7B7B;
    margin-top: 10px;
}
                        

