html{
    font-size: 10px;
    margin: 0;
    --color_white: #ffffff;
    --grey: #CCCCCC;
}

body{
    margin: 10%;
    font-family: 'Space Grotesk', sans-serif;
    background: linear-gradient(120.21deg, #3E708E 11.18%, #64969B 74.17%);
}

.main{
    display: flex;
    justify-content: center;
}

.conteiner{
    width: 90%;
    margin: auto;
}

.form-group{
    width: 56%;
    height: fit-content;
    background: var(--color_white);
    padding: 10%;
}

.logo_kreativ{
    position: relative;
    left: 122px;
    top: 45px;
}

.title{
    font-weight: 700;
    font-size: 2.4rem;
}

.text{
    width: 52%;
    background: linear-gradient(162.21deg, #517879 4.83%, #1E3E57 103.44%);
    padding: 6%;
}

.header{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 60%;
}

.header_nav>a{
    text-decoration: none;
    color: var(--color_white);
}

.quote{
    font-weight: 700;
    font-size: 6.4rem;
    color: var(--color_white);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 25%;
}

.quote_name{
    font-size: 2.4rem;
    color: var(--color_white);
    margin-top: 10%;
}

label{
    width: 400px;
    font-weight: 400;
    font-size: 1.6rem;
}
input{
    width: 400px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid var(--grey);
    font-size: 1.2rem;
  }

  ::placeholder, .tel_value{
    color: var(--grey);
  }

  
 .form_info, span, .placeholder{
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--grey);
  }

.btn{
    color: var(--color_white) ;
    background-color: #284A5E;
    font-weight: 700;
    font-size: 1.6rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.text_footer{
    color: var(--grey);
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 10%;
}

.text_footer>a{
        color:  #476D73;
}