html{
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    --grey: color: #969697;
}

body{
    
    min-width: 100rem;
    max-width: 140rem;
    margin: 0% auto; 
    background-color: #e0dede;
}

.page1_container{
    width: 100%;
    height: 108rem ;
    background: #FFFFFF;
    box-sizing: border-box;
  }

/* header navigation*/
.header_nav{
    display: flex;
    justify-content: space-between;
    background: #155767;
}  

.header_nav_img{
    width: 60%;
}

.nav_images{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding-right: 5%;
}

.nav_rectangle{
    width: 32.2rem;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background: #FFFFFF;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
}

/*sheet 2 section1 buttons*/

.subtitle{
    height: 8%;
}

.btn_refresh_configuration{
    display: flex;
    justify-content: end;
    margin-top: 2.6rem;
    margin-bottom: 2.6rem;
    background: #FFFFFF;
}

.btn_refresh1{
    width: 24rem;
    height: 6.5rem;
    background: #00BFFF;
    border: 1px solid #707070;
    font-weight: 700;
    font-size: 2rem;
    color: #F7F7F9;
    cursor: pointer;
}

.btn_refresh2{
    width: 6.5rem;
    height: 6.5rem;
    background-color: #080000;
    cursor: pointer;
     
}

/*sheet 2 main*/

main{
    height: 75%;
    border: 1px solid;
}

.cpo_container{
    display: flex;
    justify-content: space-between;
}


/*images of list_subtitles*/

.navigation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 25%;
    border-right: 1px solid;
    position: relative;
}

.navigation>ul>li{
    margin-bottom: 2.5rem;
    margin-left: 3.5rem;
}

.navigation>ul>li>a{
text-decoration: none;
font-weight: 400;
font-size: 2.4rem;
margin-bottom: 2.5rem;
color: #000000;
}

.navigation>ul>li:nth-child(1){
    list-style-image: url(../img/for_HW7/1_Dashboard.svg);
}

.navigation>ul>li:nth-child(2){
    list-style-image: url(../img/for_HW7/2_cherging\ session.svg); 
}

.navigation>ul>li:nth-child(3){
    list-style-image: url(../img/for_HW7/3_Billing&payment.svg);  
}

.navigation>ul>li:nth-child(4){
    list-style-image: url(../img/for_HW7/4_user_management.svg);  
}

.navigation>ul>li:nth-child(5){
    list-style-image: url(../img/for_HW7/5_registration.svg); 
}

.navigation>ul>li:nth-child(6){
 list-style-image: url(../img/for_HW7/6_reports.svg);
}

.activ{
    font-weight: 700;
}


/*form sheet 2*/
.mark{
    position: absolute;
    top: 101%;
    left: 40%;
}
 

.title_cpo_form{
    display: flex;
    justify-content: space-between;
    height: 10%;
    box-sizing: border-box;
    align-items: flex-start;
    padding-left: 2.5rem;
}

/*Buttons del&save*/

.cpo_btn_delete, .cpo_btn_Save{
    width: 14.4rem;
    height: 5.3rem;
    background: #A2A3A4;
    border-radius: 1rem;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 2rem; 
    margin: 2rem 2.2rem auto auto;   
}

.cpo_btn_Save{
    background: #00BFFF;
}


.cpo_form{
    width: 75%;

}

form{
    width: 91%;
    margin-left: 4rem;
}

.cpo_form form>p{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.3rem;
}

.cpo_form form label{
    font-weight: 300;
    font-size: 2rem;
    color: var(--grey);
}

.cpo_form form input{
    height: 5.9rem;
    border: 1px solid #707070;
    font-weight: 400;
    font-size: 2rem;
    padding-left: 5rem;
}

input::placeholder{
    color: #969697;
    font-weight: 300;
    font-size: 2rem;    
}
.cpo_form form>p:nth-child(4), form>p:nth-child(5){
    display: inline-flex;
    width: 40%;
}

.cpo_form form>p:nth-child(4){
margin-right: 19%;
}

.cpo_form form>p:nth-child(6){
    display: inline-flex;
    width: 60%;
}

.cpo_form form>p:nth-child(7){
    display: inline-flex;
    vertical-align: bottom;
    width: 40%;
    border-top: 4px solid #00BFFF;
    margin-left: -1%;
}

 .btn_generate_token_key_img{
    border: none;
    background: #00BFFF; 
    height: 6rem;
 }

 
/*title first sheet*/
.title{
    display: flex;
    justify-content: center;
    
}

.logo_cero_mobile{
    width: 50%;
    border-right: 1rem solid #FFA500;
    text-align: center;
    padding-top: 13%;
    margin-top: 10%;
    margin-bottom: 10%;
    }

.page1_conteiner{
    width: 100%;
    height: 108rem ;
    background: #FFFFFF;
}

.form_login{
    width: 50%;
    padding-left: 9rem;
    padding-right: 2rem;
    padding-top: 35%;
    box-sizing: border-box;
}

.title_login{
    margin-top: 25%;
    margin-right: 16%;
    padding-left: 10%;
}
.login_name, .login_pass{
    color: var(--grey);
    font-size: 2.8rem;
   }

.label_title_login{
    display: inline-block;
    width: 52.2rem;
    color: #969697;
}

.input_title_login{
    border: 1px solid #707070;
    width: 52.2rem;
    height: 8.6rem;
    font-size: 2.8rem;
}

.input_title_login::placeholder{
    font-size: 2.8rem;
    font-weight: 700;
    color: #000;
}

.btn_title{
    cursor: pointer;
    background: #00BFFF;
    width: 222px;
    height: 66px;
    font-weight: 700;
    font-size: 2.4rem;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);        
    color: #000000;
    border-radius: 10px;
    margin-left: 307px;
}

.forgot_password{
    text-align: end;
    font-size: 1.8rem;
    color: #969697;
}

/*sheet 3*/

.btn_invite, .btn_add_new{
    font-weight: 700;
    font-size: 20px;
    color: #F7F7F9;
    background-color: #00BFFF; 
    border: 1px solid #707070;
    width: 24rem;
    height: 5.5rem;
}

.btn_add_new{
    width: 28.2rem;
}

.btn_telega, .btn_plus{
    background-color: #000000;
    width: 5.5rem;
    height: 5.5rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: -1rem;
    vertical-align: bottom;
}

.tabel_name{
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    margin-left: 3rem;
}

.status{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-weight: 400;
    font-size: 2rem;
    color: #969697;
}

.btn_status{
    width: 23%;
    height: 5.9rem;
    border: 1px solid #707070;
    background: #FFFFFF;
    padding-right: 4rem;
}

.input_search{
    background-image: url(../img/for_HW7/Icon_Search.png);
    background-repeat: no-repeat;
    background-position: 1rem;
    padding-left: 4rem;
    width: 66%;
    margin-left: 1%;
}

/*sheet 4*/

.input_search::placeholder, .btn_status, .input_datalist::placeholder{
    font-weight: 700;
    font-size: 20px;
    color: #A5A5A5;
    padding-left: 4rem; 
}

.input_datalist::placeholder{
padding-left: 1rem;
}

table{
    width: 97%;
    margin-top: 4rem;
}

td{
    font-weight: 700;
    font-size: 2rem;
    color: #969697;
    text-align: center;
    padding-bottom: 2rem;
}

.row_tabel{
    background: rgba(214, 214, 214, 0.16);
    width: 91%;
    height: 5.4rem;
    margin-left: 4rem;
}

.slider_number{
    margin-top: 1rem;
    margin-left: 43%;
    cursor: pointer;
}

.title_cpo_form>img{
    margin-top: 1rem;
}

.images, .inputs_4page{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 4rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.inputs_4page>div>input{
    width: 18.4rem;
    height: 6rem;
    border: 1px solid #000000;
    border-radius: 10px;
}

.inputs_4page>div>label{
    font-weight: 700;
    font-size: 2.4rem;
}

.images>div:nth-child(1){
    font-weight: 700;
    font-size: 24px;
    color: #000000;
}

.images>div:nth-child(2){
    width: 20.8rem;
    height: 6rem;
    border-bottom: 1px solid #000000;
}

.inputs_4page>div:nth-child(4)>input{
    background-image: url(../img/for_HW7/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
}

/*sheet 5*/

.btn_cancel{
    font-weight: 400;
    font-size: 2rem;
    color: #FCFCFD;
    background: #707070;
    width: 18rem;
    height: 5.5rem;
    border: 1px solid #707070;
}

.title_general_info{
    font-weight: 400;
    font-size: 2rem;
    color: #969697;
    margin-left: 4rem;
    margin-bottom: 3rem;
}

.user_new_login>div:nth-child(1){
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.user_new_login>div>div>label, .user_new_login>div>label{
    display: inline-block;
    width: 50%;
    font-weight: 400;
    font-size: 2rem;
    color: #969697;   
}

.user_new_login>div>input{
    width: 46%;
    margin-bottom: 2rem;
}

.user_new_login>div>div>input{
    width: 109%;
}

.login_email{
    width: 109%;
    margin-left: -16%;
}

.checkbox{
    width: 50%;
    margin-left: 70%;
    margin-top: 5rem;
    font-weight: 400;
    font-size: 2rem;
    color: #969697;
}

.checkbox input:checked ~ label {
    color: #000000;
}

.checkbox input{
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
}

.checkbox p{
    display: flex;
    flex-direction: row;
    align-items: center;
}










