:root{
    font-family: 'Rosario', sans-serif;
    font-style: italic;
    size: 10px;
    --color_white: #FFFCFC;
    --color_black:#000000;
    --color_background: #E5E5E5;
    --color-white-1:  #FFFAFA;
    height: 100vh;
    
}

body{
    min-width: 100rem;
    max-width: 198rem;
    margin: 0 auto;
    background: var(--color_background);
    height: 100vh;

}
 
.container{
    width: 100%;
    background: #FFFFFF;
    box-sizing: border-box;
    height: 90vh;  
    
}

header{
    background: var(--color_black);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

header:nth-child(1) img{
    height: 100%;
}

ul{
    display: flex;
    list-style: none;
    margin-top: 2rem; 
}

.navigation{
    text-decoration: none;
    color: var(--color_white);
    font-weight: 700;
    font-size: 3.6rem;
    margin-left: 3rem;
}

li{
    margin-right: 3rem;
}

.gallery{
    display: flex;
    justify-content: space-evenly;
    padding-top: 15rem;
}

@keyframes one{
    from {left: -50vh;}
    to {left: 0;}
}

.img_2-3{
    animation: one 2s forwards;
    position: relative;
    left: -50vh;
    overflow: hidden; 
}

@keyframes two{
    from {left: 50vh;}
    to {left: 0;}
}

.img_4-5{
    animation: two 2s forwards;
    position: relative;
    left: 50vh;
}

.img_1{
    margin-top: 5%;
    left: -50vh;
    position: relative;
    animation-delay: 4s;
    animation: one 2s linear 2s 1 forwards;
}

.img_6{
    margin-top: 5%;
    left: 50vh;
    position: relative;
    animation-delay: 4s;
    animation: two 2s linear 2s 1 forwards;
}

.services{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 4.8rem;
    padding-left: 3%;
}


.services_card1{
    position: relative;
    animation: circle_rotate1 25s ease-in infinite;
    animation-delay: 1s;
   
   
}

.services_card2{
    position: relative;
    animation: circle_rotate2 25s ease-in  infinite;
    animation-delay: 1s;
   
}

.services_card3{
    position: relative;
    animation: circle_rotate3 25s ease-in  infinite;
    animation-delay: 1s;
    
}

.services_card4{
    position: relative;
    animation: circle_rotate4 25s ease-in infinite;
    animation-delay: 1s;
}

@keyframes circle_rotate1{
    from,
    to
    { left: 0; top: 0;}

    25% { left: 67rem; top:0; }
    50% { top: 29rem; left: 67rem;}
    75% { top: 29rem; left: 0;} 
    }

    @keyframes circle_rotate2{
        from, to
        {   top: 0;
            left: 0;}
    
        25% { top: -29rem;}
        50% { top: -29rem; left: 67rem;}
        75% { top: 0; left: 67rem;} 
    }

@keyframes circle_rotate3{
    from, to
    {   top: 0;
        left: 0;}

    25% { top: 29rem;}
    50% { top: 29rem; left: -67rem;}
    75% { top: 0; left: -67rem;} 
    }

    @keyframes circle_rotate4{
        from, to
        {   top: 0;
            left: 0;}
    
        25% { top: 0; left: -67rem;}
        50% { top: -29rem; left: -67rem;}
        75% { top: -29rem; left: 0;} 
        }

.team p{
    font-style: normal;
    font-weight: 700;
    font-size: 9.6rem;
    text-align: center;
    padding-top: 10rem;
    margin-top: 0;
}

.team_cards{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
    
}

.card_meredith{
    background-image: url(../img/for_HW8/Meredith.png);
    width: 40.4rem;
    height: 67.7rem;
    background-size: 100%;
    position: relative;
}

.card_jason{
    background-image: url(../img/for_HW8/Jason.png);
    width: 39.2rem;
   
    background-size: 100%;
    position: relative;
}

.card_ryanh{
    background-image: url(../img/for_HW8/Ryan.png);
    width: 40rem;

    background-size: 100%;
    position: relative;
}

.card_james{
    background-image: url(../img/for_HW8/James.png);
    width: 39.6rem;
   
    background-size: 100%;
    position: relative;
}

.meredith, .jason, .ryanh, .james {
    position: absolute;
    bottom: 0;
    background: rgba(163, 83, 10, 0.7);
    font-style: normal;
    font-family: 'Volkhov';
    font-weight: 400;
    font-size: 48px;
    color: #FFFAFA;
    width: 100%;
    height: 0;
    overflow: hidden;
    text-align: center;
}

.card_meredith:hover .meredith,
.card_jason:hover .jason,
.card_ryanh:hover .ryanh,
.card_james:hover .james{
    height: 15.4rem;
    padding-top: 15%;
    box-sizing: border-box;
    transition: all 1s;  
}


.card_jason:hover ~.card_meredith,
.card_jason:hover ~.card_ryanh,
.card_jason:hover ~.card_james,
.card_ryanh:hover ~.card_meredith,
.card_ryanh:hover ~.card_jason,
.card_ryanh:hover ~.card_james{
    filter: brightness(0.5);
}

.card_meredith:hover ~.card_jason,
.card_meredith:hover ~.card_ryanh,
.card_meredith:hover ~.card_james{
    filter: brightness(0.5);
}

.contact_us{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 15rem;
}

.contact_map:nth-child(1){
    font-weight: 700;
    font-size: 6.4rem;
}

.contact_map{
    display: flex;
    flex-direction: column;
    width: 50%;
}

input{
    width: 37.7rem;
    height: 8rem;
    font-weight: 700;
    font-size: 36px;
    border: none;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 2rem;
}

textarea{
    font-weight: 700;
    font-size: 36px;
    border: none;
    padding-left: 3rem;
    width: 80.8rem;
    height: 20.9rem;
}

.box_message{
    background: var(--color_background);
    width: 85.6rem;
    margin-left: 3.8rem;
    padding: 0 3rem 3rem 3rem;

}

iframe{
    margin-top: 3rem;
}

.inputs{
    display: flex;
    justify-content: center;
}

.box{
    background: var(--color_background);
    height: 12rem;
    padding: 3rem; 
}

.contact_info{
    display: flex;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    margin-top: 10rem;
    margin-left: 10%;
}

a{
    text-decoration: none;
    color: #000;
}

.bold_normal{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}

.bold{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}

pre{
    margin: 0;
}











