.wrapper{
    background-image: url(../img/Успенський_собор_1.jpg);
    width: 100%;
    background-repeat: no-repeat; 
}

.name1{
    font-weight: 400;
    font-size: 48px;
    margin-left: 514px;
}

 .name2{
    font-weight: 400;
    font-size: 64px;
    margin-top: 49px;
    text-align: center;
}

.color1{
    color: #0BBBD3;
}

.color2{
    color: #28CDE3;
}

.color3{
    color: #F8F5F5;
}

.flag{
    margin: 218px 1336px 246px 80px;
}

.titel{
    position: absolute;
    width: 715px;
    height: 321px;
    margin-left: 163px;
    margin-top: 310px;
    font-weight: 700;
    font-size: 64px;
    color: #FFFFFF;
}

.ukraine-place{
    width: 340px;
    font-weight: 700;
    font-size: 48px;
    border-bottom: 5px solid #33B8F1;
    margin-top: 60px;
}

.place_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 121px;
}

.place_titel_1{
    font-weight: 700;
    font-size: 36px;
    color: #33B8F1;
}
   
.place_titel_2{
    font-weight: 700;
    font-size: 36px;
    color: #030303;
}

.place_descr{
    font-weight: 400;
    font-size: 32px;
    color: #595050;
}

.place_item{
    width: 33%;
    background: #FFFEFE;
    box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 408px;
}

footer{
    position: absolute;
    width: 100%;
    height: 405px;
    background: #0A2DA9;
}

.stand_with_ukraine{
    font-weight: 700;
    font-size: 48px;
    color: #000000;
    text-align: center;
}

.heart{
    width: 100%;
    /*margin-left: 223px;*/
   /* width: 973px;
    height: 877px;
    margin-left: 223px;*/

}

.btn{
    width: 430px;
    height: 74px;
    background: #33ADF1;
    border: none;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
    margin-bottom: 182px;
}

.button-wrapper{
    display: flex;	
    justify-content: center;
}


.mail{
   
    font-weight: 400;
    font-size: 32px;
    color: #E5E5E5;
    text-align: center;
}

a{
    color: #353949;
}
.tel{
    font-weight: 400;
    font-size: 32px;
    text-align: center;
}

.img_footer{
    margin-left: 20px;
    margin-right: 20px;
    
}
.social_networks{
    margin-top: 50px;
    text-align: center;
}

